[submodule "deps/freddie"]
	path = deps/freddie
	url = https://github.com/AnEntrypoint/freddie
[submodule "deps/thatcher"]
	path = deps/thatcher
	url = https://github.com/AnEntrypoint/thatcher
[submodule "deps/design"]
	path = deps/design
	url = https://github.com/AnEntrypoint/design
